// Base Styles /////////////////////////////////////////////////////////////////

body {
    font-weight: 500;
}

.navbar-default { background: image-url('bg.png') repeat fixed top left; }

.masthead { background: $brand-primary image-url('bg.png') repeat fixed top left; }

html {
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

a {
    @include transition(all 0.2s ease-in);    
}

a:hover {
    text-decoration: none;
    @include transition(all 0.2s ease-out);
}

textarea {
    max-height: 185px;
    resize: none;
}

h1 {
    // color: $h1-color;
    // font-family: $font-family-display!important;
}

ul li {
    // counter-increment: foo;
    // display: table-row;
    // list-style: disc;
}

ol {
    // counter-reset: foo;
    display: table;
}

small, .small {
    line-height: 1.5!important;
}

.body-content .small p, .small p {
margin-top: 17px;
}

.well hr {
    margin: 25px 0;
}

.pagination-center {
    text-align: center;
    ul.pagination { padding-left: 0 }
}

.body-content {
    ol, ul {
        margin-bottom: 0px;
        padding-left: 50px;
        margin-top: 35px;
        li { margin-bottom: 0px; } 
    }
    .gform_wrapper {
        .gforms_fields, ul { padding-left: 0; }
    }
}

button:focus {
outline: none;
}

li::before {
    // content: counter(foo) ".";
    display: table-cell; /* aha! */
    text-align: right;
}

iframe {
    @include border-radius($border-radius-img);
}

.main-col {
    img { border: 1px solid #dddddd; }
    a.btn { margin-right: 10px; }
}

.primary-content img {
    @include border-radius($border-radius-img);
    max-width: 100%;
    height: auto;
}

// Header //////

header {
    .corner-btn { 
        z-index: 50;
        position: absolute; 
        top: 20px;
        left: 20px;
        button { 
            padding: 0;
            border: none;
            background: none;
            i { font-size: 22px; }
        }        
    }    
    position: relative;     
    .navbar { border: none; padding-top: 25px; }
    .navbar-collapse {
        .navbar-text { 
            color: darken($gray-light, 10%);
            font-style: italic; 
            font-family: $font-family-serif;
            font-size: 15px;           
            margin-top: 11px;
        }        
        .navbar-nav {            
            padding-top: 4px;            
            .menu-item a { 
                // border-bottom: 6px solid transparent;                 
                // &:hover { border-bottom: 6px solid $gray-light; }
            }
            // .current_page_item a { border-bottom: 6px solid $gray-light; }
        }
    }   
    .navbar-header {
        // float: none;
        .navbar-text { 
            float: none; 
            color: $brand-secondary; 
            a { 
                color: #ffffff; 
                &:hover { color: $brand-primary-light; }
            }
        }
        .navbar-brand {  
            text-transform: uppercase;
            font-weight: $bold;          
            letter-spacing: 2px;
            font-size: 29px;
            padding-bottom: 0; 
            // padding-top: 15px;
            // position: absolute;
            // top: 11px;
            // width: 59px;
            // height: 48px;
            // left: 20px;
            // padding: 0;
            // img {
            //     width: 59px;
            //     height: auto;               
            // }
        }
    }
}

.col-no-padding {
    padding-left: 0px;
    padding-right: 0px;
}    

.fa-right { margin-left: 15px; }
.fa-left { margin-right: 15px; }

.subhead {
    // margin-top: -11px!important;
    // text-transform: uppercase;
    font-size: 20px;
    // letter-spacing: 2px;
}

.container {
    position: relative;
    z-index: 2;
}

ul.nav-pills li a {
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600!important;
    padding-top: 0;
    padding-bottom: 0;
    &:hover { background-color: $brand-primary-dark; }    
}

.home {
    ul.nav-pills {
        text-align: center;
        padding-left: 0;
        padding-top: 25px;
        li {   
            float:none;
            display:inline-block;
            *display:inline; /* ie7 fix */
             zoom:1; /* hasLayout ie7 trigger */
        }
        li+li { margin-left: 10px; }        
    }
}

// Body BG //////////////////////////////////////////////////////////////////

#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
  z-index: -1;
}

#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

// Masthead //////////////////////////////////////////////////////////////////

.page-title { font-size: 70px; }

.logo-bg {
    background: transparent image-url('do_rails_logo.png') top center no-repeat;
    // background-size:100% auto;
}

.home .masthead {
    padding-top: 150px;
    .h1-lg { text-transform: inherit; padding-bottom: 20px; } 
}

.masthead {
    background-color: transparent;
    // border-bottom: 15px solid $brand-secondary;
    color: $gray-lighter;
    // p, .lead { color: $gray-lighter; }
    .h1-lg {
        font-size: 100px;
        font-weight: 100; 
        text-transform: uppercase; 
        margin-bottom: 0;  
    }
    .subhead { 
        font-family: $font-family-serif;
        font-style: italic;
        color: $brand-primary-darker; 
        margin: 20px 0;         
    }
    h1, h2, h3, h4, h5, h6 { color: #ffffff; }    
    hr { border-top: 5px solid $brand-primary-dark; margin: 15px 0; }
    h1 { 
        color: #F5F2F2; 
        margin-bottom: 50px;
        a { 
            color: #F5F2F2; 
            &:hover { color: $brand-primary-light; }
        }
    }
}

// Rails Curve //////////////////////////////////////////////

body.page-template-page-railscurve-php {
    .entry-content p:first-child {
        margin-top: 0;        
    }
    .primary-content {
        // h1, h2, h3, h4, h5, h6 { text-align: center; } 
        h3 { font-size: 40px; }
        h4 { font-size: 30px; }
    }
    .well {
        h3 { margin-top: 0; }        
    }
}

.well { 
    margin-top: 25px; 
    h1:first-child,
    h2:first-child,
    h3:first-child,
    h4:first-child,
    h5:first-child,
    h6:first-child { margin-top: 0; }
}

// Blog Article //////////////////////////////////////////////////////////////

article.post:first-child {
    h2.entry-title { display: none; }
    border: none;
    margin-top: 0;
    padding-top: 0;
}

.archive article.post:first-child {
    h2.entry-title { display: block; }
    border-top:  1px solid $gray;
    margin-top: 80px;
    padding-top: 60px;
}

.archive {
    .masthead { padding-bottom: 0; }
}

article.post {
    padding-top: 50px;
    margin-top: 10px;
}

.primary-content .h1 { margin-top: 0; }

article.post {
    border-top: 1px solid #bbbbbb;
    margin-top: 70px;
    .entry-title {
        @extend .h1;
        font-style: normal;
        margin-bottom: 25px;
        a {
            // color: $brand-dark;        
            // &:hover { color: $brand-primary }
        }        
    }
    .entry-header { 
        font-style: italic;
        font-family: $font-family-serif; 
        text-align: center;
    }
    .entry-content {
        margin-bottom: 50px;
    }
    .gform-wrapper {
        // @extend .well
    }
    .entry-meta-category-tag {
        margin-bottom: 35px;
        margin-top: 10px;
    }
    .comments-button a {
        margin-bottom: 55px;
        margin-top: 0;
    }
}

.primary-content .bawmrp {
    h3 { margin-top: 0; }
    ul { margin-top: 10px; }
}

#disqus_thread { margin-top: 80px; }

.pagination > li > a, .pagination > li > span {
    padding: 1px 15px;
}

.slash {
    font-size: 40px;
    font-weight: 100;
    vertical-align: -6px;
    padding-left: 10px;
    padding-right: 10px;
    color: #dddddd;
    font-style: normal;
}

// Sidebar Feature Image /////////////////////////////////////////////////////////////////

.sidebar-col .attachment-sidebar-thumb {
    margin-bottom: $space-md;
    max-width: 100%;
    height: auto;
}

// Buttons /////////////////////////////////////////////////////////////////

.comments-button a {
    @extend .btn, .btn-primary, .btn-sm
}

.body-content .btn {
margin: $paragraph-top-margin;
margin-bottom: 10px;
}

.footer {
    .btn { margin-bottom: 10px; }
    a { 
        color: $navbar-default-link-color;               
        &:hover {
            color: $navbar-default-link-hover-color;
        }
    }
}

a.btn i.fa {
margin-right: 15px;
}

.btn-secondary {
color: $btn-secondary-color;
background-color: $btn-secondary-bg;
border-color: $btn-secondary-border;
}

.social-btns {
    margin-top: $space-sm;

    i {
    margin: 0 8px 0 8px;
    }
}


// Header Navigation Menus /////////////////////////////////////////////////////////////////

.navbar-btn.navbar-right { margin-left: 30px; }
.navbar-btn.navbar-left { margin-right: 30px; }

.nav > .menu-item > a {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.navbar {
    margin-bottom: 0px;
}

body > header > .top-navbar {
    // border-bottom: 5px solid $gray-lighter;
}

.navbar-toggle {
    margin-top: 23px;
    margin-bottom: 23px;
    margin-right: 6px;
    z-index: 1000;    
}

.navbar-toggle i {
    color: #ffffff;
}

.navbar-toggle .icon-bar {
    height: 3px;
}

.navbar-toggle:focus {
    outline: none;
}

.navbar-collapse .navbar-nav li {
    border-bottom: 1px solid lighten($navbar-default-bg, 10%);
}

.navbar-nav {
    margin: 0px -15px;
}

.navbar-collapse {
    max-height: $navbar-collapse-max-height;
}

.sub-menu .menu-item:hover {
color: #ffffff!important;
}

.sub-menu .menu-item {
    background: $brand-dark;

    a:hover {
        color: #ffffff;
    }
}

.nav .open .dropdown-toggle {
    color: $navbar-default-link-open-color!important;
}

.mobile-landing {
    border-bottom: 1px solid $hr-border;
    padding-bottom: 10px;
    margin-bottom: 18px;
    background-color: $gray-lighter;

    .phone a {
        margin-top: 15px;
        font-size: 17px;
        padding: 14px 0px;
    }
}

// Small-Footer Navigation Menus /////////////////////////////////////////////////////////////////

.footer-logo {
    padding-bottom: $space-lg;
    display: block;
}

.small-footer {
    background: transparent;

    a {
        display: block;
        text-align: center;
    }

    .footer-credits {
        width: 100%;
    }
    
    .footer-menu {
        width: 100%;

        .menu li a {
            font-size: $font-size-small;
        }
    }
}


// Headings /////////////////////////////////////////////////////////////////

.body-content {
    // @include dynamic-headings-color($headings-color, $body-bg, $text-color); // If header color is same as bg, then darken text color
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.primary-content {
    h2, h3, h4, h5, h6 {
        margin-top: 45px;
        margin-bottom: 0px;
    }
    h1 { margin-bottom: 30px; }
}

// Site Title
.site-title a {
    font-size: $font-size-h3;
}

// Links /////////////////////////////////////////////////////////////////

.block {
    display: block;
}

// Lists /////////////////////////////////////////////////////////////////

.dropdown-menu {
    @include border-radius(0px 0px 4px 4px);

    li {
    display: list-item;

        a {
            color: #cccccc;
        }
    }
}



.nav .menu-item .dropdown-menu {

    .menu-item a {            
            padding: 10px 30px;            
            border-top: 1px solid lighten($brand-dark, 5%);            
    }
}

.menu-item .dropdown-menu {
    padding: 0px 0px;
}

.body-content {

    ul li:before {
        // font-family: 'FontAwesome';
        // content: "\f054";
        // padding-right: 15px;        
        color: $list-bullet-color;
    }
}

// Gravity Forms

body .gform_wrapper {
    // @extend .col-sm-8, .col-sm-offset-2;
    .gform_title { @extend .h2; margin-top: 0!important; }
    .gform_description { 
        @extend .small; 
        display: block;  
        margin-top: 20px;      
    }
    .gform_fields { 
        @extend .row; 
        .gfield { margin-bottom: 10px; }
        .gf_full { @extend .col-sm-12 }
    }
    .gform_button { 
        @extend .btn-primary, .btn-block; 
        margin-top: 15px;
    }    
    .gfield_description.validation_message {
        @extend .small;
        color: $brand-danger;
        display: none;
    }
    .gform_confirmation_wrapper { text-align: center; }

    input[type=text], input[type=url], input[type=email], input[type=tel], input[type=number], input[type=password], input[type=password], select {
        font-size: inherit;
        padding-left: 10px;
        padding-right: 10px;
    }
    .gform_footer {
        padding-top: 0;
        margin-top: 0;
    }
}   

.validation_error {
    display: none;
}

.gform_wrapper {
    .gform_title { text-align: center; }
    .gform_description { text-align: center; }
}


.body-content .gform_body {
    ul li:before {
        font-family: inherit;
        content: none;
        padding-right: inherit;
        color: inherit;
    }
}

.ginput_container input, .ginput_container select, .ginput_container textarea { padding-left: 8px; padding-right: 8px; }

// Logo  /////////////////////////////////////////////////////////////////

.top-symbol { margin: 50px auto 0 auto; }

// Paragraph /////////////////////////////////////////////////////////////////

.body-content {
    p {
        margin: $paragraph-top-margin;
    }
    // ul { padding-left: 0 }
}

.lead {
  font-size: $font-size-h4;
  font-weight: $regular;
  font-family: $font-family-serif;
  font-style: italic;
}

// Sidebar /////////////////////////////////////////////////////////////////

.primary-content {
    background-color: transparent;
    position: relative;
    .sidebar.background {
        display: block;       
        opacity: 100;
        filter: alpha(opacity=10000);
        opacity: 1;
        filter: alpha(opacity=100);

        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        background: 50% 50% no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        // opacity: 20;
        // // filter: alpha(opacity=2000);
        // // opacity: 0.2;
        // filter: alpha(opacity=20);  
        .container {
            height: 100%;
            padding-top: 0;
            padding-bottom: 0;
        }      
        .col-sm-4 {
            position: absolute;
            height: 100%;
            div { 
                position: absolute;
                right: 0;
                height: 100%;
                width: 1000px;
                background: #f3f3f3;
                margin: 0;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
                img {
                    height: 100% !important;
                    width: auto;
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }

        }
    }

}

// Widgets /////////////////////////////////////////////////////////////////

.widget ul.menu {
    list-style: none;
    padding-left: 0;
}

.body-content .widget {
    padding-bottom: $space-md;
}  

.sidebar .widget > div {
    margin-top: $space-sm;    
}

.sidebar .widget div > ul, ol {
    padding-left: 0px;

    li {
        margin-bottom: $space-xs;
    }
}

.footer .widget {
    padding-bottom: 0px!important;
}

.widget_sp_image img {
    height: auto;
    @include border-radius($border-radius-img);
}

.small-footer .menu li {
    display: inline;
}

// Footer /////////////////////////////////////////////////////////////////

.footer {
    background-color: transparent;
    padding-left: 25px;
    padding-right: 25px;
    border-top: 1px solid darken($body-bg, 10%);
    color: $text-color;
    .btn { margin-bottom: 10px; }    
    a { 
        color: $brand-primary;               
        &:hover {
            color: $brand-primary-dark;
        }
    }
}

// Video Player /////////////////////////////////////////////////////////////////

.btn-play {
z-index: 1000;
position: absolute;
left: 50%;
top: 50%;
color: #ffffff;
margin-left: -34px;
margin-top: -40px;
}

.player {
@include border-radius($border-radius-img);
// background-size: 100% auto;
// background-attachment: fixed;
background: #000000;
// height: 357px;
}

.flex-video {
    padding-top: 0px;
    background: darken($gray-lighter, 10%);    
    @include border-radius($border-radius-img);

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    iframe {
        @include border-radius($border-radius-img);
        padding: 5px;
    }
}

.flex-video.widescreen {
    padding-bottom: 56%;
}